/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   .gitignore.c                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: kaoki <kaoki@student.42tokyo.jp>           +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/04/01 09:17:55 by kaoki             #+#    #+#             */
/*   Updated: 2025/04/01 09:21:59 by kaoki            ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

#include "ft_abs.h"
#include <stdio.h>

int	main(void)
{
	int	a;
	int	b;
	int	c;

	a = -42;
	b = 21;
	c = 0;
	printf("ABS(a) = %d\n", ABS(a));
	printf("ABS(b) = %d\n", ABS(b));
	printf("ABS(c) = %d\n", ABS(c));
	return (0);
}
