/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   .gitignore.c                                       :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: kaoki <kaoki@student.42tokyo.jp>           +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/04/01 09:08:13 by kaoki             #+#    #+#             */
/*   Updated: 2025/04/01 09:15:05 by kaoki            ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

#include <stdio.h>

typedef struct
{
	int	x;
	int	y;
}		t_point;

int	main(void)
{
	t_point	p;

	p.x = 10;
	p.y = -20;
	printf("x: %d, y: %d\n", p.x, p.y);
	return (0);
}
// t_point pで変数pを定義して、p.x p.yで座標を設定してる
